.who-we-are {
  &__container {
    padding-top: 80px;
    @include media-breakpoint-down(xl) {
      padding-top: 120px;
    }
  }
  &__desc {
    margin-top: 24px;
    margin-bottom: 32px;
    @include media-breakpoint-up(xl) {
      margin-top: 32px;
      margin-bottom: 38px;
    }
  }
  &__card-text {
    font-size: 62px;
    line-height: 74px;
  }

}
