.why-us {
  &__container {
    background-image: url("assets/images/why-us/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 790px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: $white;
  }

  &__card {
    margin-top: 64px;
  }

  &__desc {
    opacity: .8;
    font-size: 18px;
  }
}
