<div class="bg-white who-we-are__container">
    <div class="container-lg">
        <h2 class="h1 font-weight-bold text-uppercase">
            who we are
        </h2>
        <div class="row">
            <div class="col-120 col-xl-80">
                <p class="who-we-are__desc title">
                    <span class="text-primary font-weight-bold">MMO-GS</span> is a team of professionals in mmorpg services: powerleveling, boosting, gold. We do our best to make you satisfied with our large experience and fast delivery!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-120 col-sm-60 col-xl-40">
                <div class="card mb-4">
                    <img :src="cardBg" style="opacity: .1" alt="Who we are card">
                    <div class="card-img-overlay d-flex flex-column">
                        <p class="mt-3 who-we-are__card-text text-primary font-weight-bold d-flex flex-grow-1">9 478</p>
                        <p>Completed orders</p>
                    </div>
                </div>
            </div>
            <div class="col-120 col-sm-60 col-xl-40">
                <div class="card mb-4">
                    <img :src="cardBg" alt="Who we are card">
                    <div class="card-img-overlay d-flex flex-column">
                        <p class="mt-3 who-we-are__card-text text-primary font-weight-bold d-flex flex-grow-1">321</p>
                        <p>Reviews on
                            <a href="/" target="_blank" class="text-primary text-underline">Trustpilot</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-120 col-sm-60 col-xl-40">
                <div class="card mb-4">
                    <img :src="cardBg" alt="Who we are card">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="my-3 d-flex align-items-sm-center flex-grow-1">
                            <logo theme="dark" :width="244" :height="44"></logo>
                        </div>
                        <p>
                            <a href="/" target="_blank" class="text-primary text-underline">More about us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
